# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/public/uploads/**
!/public/uploads/
!/public/uploads/.gitkeep
!/public/uploads/30061312-20220114-金凤凰米业-金凤凰增城丝苗米-营养检测-SY1121120409.pdf

!/public/uploads/50061513-20220114-裕丰谷业-稻花香五常大米-营养检测-SY1121120607.pdf

!/public/uploads/product-pic-1652701894888.jpg

!/public/uploads/product-pic-1652703552937.jpg
