<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/tracing-info.css" type="text/css" rel="stylesheet">
    <title>产品溯源信息</title>
</head>
<body>
<div class="container">
    <header class="bd-navbar mb-2">
        <nav class="navbar navbar-dark ">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" href="#">
                    <img src="/favicon.ico" alt="" width="20" height="20" class="d-inline-block align-text-top ">
                    产品溯源信息
                </a>
            </div>
        </nav>
    </header>
    <main class="card-group">
        <div class="card border-light bg-primary text-dark bg-opacity-10 w-100 rounded-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2">基本信息</h6>
                <div class="card-text">
                    <div class="row">
                        <div class="col-4 text-muted">名称</div>
                        <div class="col-8">增城丝喵咪</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">编码</div>
                        <div class="col-8">2022017665</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">规格</div>
                        <div class="col-8">25kg/袋</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">产地</div>
                        <div class="col-8">广州增城</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">数量</div>
                        <div class="col-8">200袋</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">质检证书</div>
                        <div class="col-8">查看详情</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">生产商</div>
                        <div class="col-8">广州金凤凰米业</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">产品类型</div>
                        <div class="col-8">籼米</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">质量等级</div>
                        <div class="col-8">一级</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">生产日期</div>
                        <div class="col-8">2022年1月20日</div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-muted">保质期</div>
                        <div class="col-8">6个月</div>
                    </div>
                    <div class="row">
                        <a href="#" class="card-link">查看质检证书>></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-light bg-success text-dark bg-opacity-10 w-100 rounded-3">
            <div id="map" class="card-img-top"></div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">仓储物流</h6>
                <section class="card-text">
                    <ul class="timeline-with-icons">
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon"><i class="bi bi-bank"></i></span>
                            <h5 class="fw-bold">广州凤凰仓库</h5>
                            <p class="text-muted mb-2 fw-bold">2022-1-25 10:30</p>
                            <p class="text-muted">
                                入库：2号仓13货架
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon"><i class="bi bi-truck"></i></span>
                            <h5 class="fw-bold">运送中</h5>
                            <p class="text-muted mb-2 fw-bold">2022-2-20 15:35</p>
                            <p class="text-muted">
                                出库物流: 顺丰速运
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon2"></span>
                            <h5 class="fw-bold"></h5>
                            <p class="text-muted mb-2 fw-bold">2022-2-20 17:20</p>
                            <p class="text-muted">
                                广州发车
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon2"></span>
                            <h5 class="fw-bold"></h5>
                            <p class="text-muted mb-2 fw-bold">2022-2-20 17:20</p>
                            <p class="text-muted">
                                广州发车
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon2"></span>
                            <h5 class="fw-bold"></h5>
                            <p class="text-muted mb-2 fw-bold">2022-2-20 17:20</p>
                            <p class="text-muted">
                                上海中转
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon2"></span>
                            <h5 class="fw-bold"></h5>
                            <p class="text-muted mb-2 fw-bold">2022-2-20 17:20</p>
                            <p class="text-muted">
                                徐州中转
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon2"></span>
                            <h5 class="fw-bold"></h5>
                            <p class="text-muted mb-2 fw-bold">2022-2-20 17:20</p>
                            <p class="text-muted">
                                济南中转
                            </p>
                        </li>
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon"><i class="bi bi-bank"></i></span>
                            <h5>北京市亦庄仓库</h5>
                            <p class="text-muted mb-2 fw-bold">2022/2/22 9:56</p>
                            <p class="text-muted">
                                入库：6号仓59货架
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
    <footer></footer>
</div>
<!-- Full screen modal -->
<div id="mapModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">运输路径</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalMap"></div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->

<script type="text/javascript">
    // window._AMapSecurityConfig = {
    //     serviceHost:'您的代理服务器域名或地址/_AMapService',
    //     // 例如 ：serviceHost:'http://1.1.1.1:80/_AMapService',
    // }
    window._AMapSecurityConfig = {
        securityJsCode: 'b5153d0e85cf945408095a6b9e4f4379',
    }
</script>
<script src="https://webapi.amap.com/loader.js"></script>
<script type="text/javascript">
    let mapEl = document.getElementById('map');
    AMapLoader.load({
        "key": "a5d7cb14f231eeaf3f0f99bd6963df7b",              // 申请好的Web端开发者Key，首次调用 load 时必填
        "version": "2.0",   // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
        "plugins": ['AMap.Driving'],           // 需要使用的的插件列表，如比例尺'AMap.Scale'等
        "AMapUI": {             // 是否加载 AMapUI，缺省不加载
            "version": '1.1',   // AMapUI 版本
            "plugins": ['overlay/SimpleMarker'],       // 需要加载的 AMapUI ui插件
        },
        "Loca": {                // 是否加载 Loca， 缺省不加载
            "version": '2.0'  // Loca 版本
        },
    }).then((AMap) => {
        let map = new AMap.Map(mapEl, {
            features: ['bg', 'point'],
            isHotspot: false,
            center: [116.397559, 39.89621],
            zoomEnable: false,
            touchZoom: false,
            doubleClickZoom: false,
            keyboardEnable: false,
            scrollWheel: false,
            dragEnable: false,
            zoom: 4
        });
        map.on('click', mapClick);
        let drivingOption = {
            policy: AMap.DrivingPolicy.LEAST_TIME, // 其它policy参数请参考 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingPolicy
            ferry: 1, // 是否可以使用轮渡
            province: '京', // 车牌省份的汉字缩写
        }

        // 构造路线导航类
        let driving = new AMap.Driving(drivingOption)

        // 根据起终点经纬度规划驾车导航路线
        driving.search(new AMap.LngLat(116.379028, 39.865042), new AMap.LngLat(113.43217, 22.427883), function (status, result) {
            // result即是对应的驾车导航信息，相关数据结构文档请参考 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
            if (status === 'complete') {
                if (result.routes && result.routes.length) {
                    // 绘制第一条路线，也可以按需求绘制其它几条路线
                    drawRoute(result.routes[0])
                    console.log('绘制驾车路线完成', result);
                }
            } else {
                console.error('获取驾车数据失败：' + result);
            }
        });

        function drawRoute(route) {
            let path = parseRouteToPath(route)

            let startMarker = new AMap.Marker({
                position: path[0],
                icon: 'https://webapi.amap.com/theme/v1.3/markers/n/start.png',
                map: map
            })

            let endMarker = new AMap.Marker({
                position: path[path.length - 1],
                icon: 'https://webapi.amap.com/theme/v1.3/markers/n/end.png',
                map: map
            })

            let routeLine = new AMap.Polyline({
                path: path,
                isOutline: true,
                outlineColor: '#ffeeee',
                borderWeight: 2,
                strokeWeight: 5,
                strokeOpacity: 0.9,
                strokeColor: '#0091ff',
                lineJoin: 'round'
            })

            map.add(routeLine);

            // 调整视野达到最佳显示区域
            map.setFitView([startMarker, endMarker, routeLine])
        }

        // 解析DrivingRoute对象，构造成AMap.Polyline的path参数需要的格式
        // DrivingResult对象结构参考文档 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DriveRoute
        function parseRouteToPath(route) {
            let path = []

            for (let i = 0, l = route.steps.length; i < l; i++) {
                let step = route.steps[i]

                for (let j = 0, n = step.path.length; j < n; j++) {
                    path.push(step.path[j])
                }
            }

            return path
        }
    }).catch((e) => {
        console.error(e);  //加载错误提示
    });
</script>
<script type="text/javascript">
    let mapModal = new bootstrap.Modal(document.getElementById('mapModal'), {})

    function mapClick() {
        console.log('modal执行了');
        mapModal.show();

        AMapLoader.load({
            "key": "a5d7cb14f231eeaf3f0f99bd6963df7b",              // 申请好的Web端开发者Key，首次调用 load 时必填
            "version": "2.0",   // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
            "plugins": ['AMap.Driving'],           // 需要使用的的插件列表，如比例尺'AMap.Scale'等
            "AMapUI": {             // 是否加载 AMapUI，缺省不加载
                "version": '1.1',   // AMapUI 版本
                "plugins": ['overlay/SimpleMarker'],       // 需要加载的 AMapUI ui插件
            },
            "Loca": {                // 是否加载 Loca， 缺省不加载
                "version": '2.0'  // Loca 版本
            },
        }).then((AMap) => {
            let modalMap = new AMap.Map(document.getElementById('modalMap'), {
                features: ['bg', 'point'],
                isHotspot: false,
                center: [116.397559, 39.89621],
                zoom: 4
            });
            // modalMap.on("complete", function () {
            //
            // });

            let drivingOption = {
                policy: AMap.DrivingPolicy.LEAST_TIME, // 其它policy参数请参考 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingPolicy
                ferry: 1, // 是否可以使用轮渡
                province: '京', // 车牌省份的汉字缩写
            }

            // 构造路线导航类
            let driving = new AMap.Driving(drivingOption)

            // 根据起终点经纬度规划驾车导航路线
            driving.search(new AMap.LngLat(116.379028, 39.865042), new AMap.LngLat(113.43217, 22.427883), function (status, result) {
                // result即是对应的驾车导航信息，相关数据结构文档请参考 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
                if (status === 'complete') {
                    if (result.routes && result.routes.length) {
                        // 绘制第一条路线，也可以按需求绘制其它几条路线
                        drawRoute(result.routes[0])
                        console.log('绘制驾车路线完成', result);
                    }
                } else {
                    console.error('获取驾车数据失败：' + result);
                }
            });

            drawRoute = (route) => {
                let path = parseRouteToPath(route)

                let startMarker = new AMap.Marker({
                    position: path[0],
                    icon: 'https://webapi.amap.com/theme/v1.3/markers/n/start.png',
                    map: modalMap
                })

                let endMarker = new AMap.Marker({
                    position: path[path.length - 1],
                    icon: 'https://webapi.amap.com/theme/v1.3/markers/n/end.png',
                    map: modalMap
                })

                let routeLine = new AMap.Polyline({
                    path: path,
                    isOutline: true,
                    outlineColor: '#ffeeee',
                    borderWeight: 2,
                    strokeWeight: 5,
                    strokeOpacity: 0.9,
                    strokeColor: '#0091ff',
                    lineJoin: 'round'
                })

                modalMap.add(routeLine);

                // 调整视野达到最佳显示区域
                modalMap.setFitView([startMarker, endMarker, routeLine])
            }

            // 解析DrivingRoute对象，构造成AMap.Polyline的path参数需要的格式
            // DrivingResult对象结构参考文档 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DriveRoute
            function parseRouteToPath(route) {
                let path = []

                for (let i = 0, l = route.steps.length; i < l; i++) {
                    let step = route.steps[i]

                    for (let j = 0, n = step.path.length; j < n; j++) {
                        path.push(step.path[j])
                    }
                }

                return path
            }

        }).catch((e) => {
            console.error(e);  //加载错误提示
        });
    }
</script>
</body>
</html>
