body {
    background-color: #0054F1;
}


.bd-navbar p {
    /*font-size: 26px;*/
    font-weight: bold;
    color: #fbfbfb;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card {
    margin-top: 1rem;
    padding-top: 1rem;
}

.card-subtitle {
    font-size: 22px;
    padding-left: 3px;
}

.bg-image {
    /*background-image: url('bg2@2x.png');*/
    /*background-size: cover;*/
}

.base-info .col-6 {
    white-space: pre;
    /*font-size: 20px;*/

}

.base-info .row {
    border-bottom: 1px dashed #DCDBD9;
    padding-top: 12px;
}


.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    /*background-color: hsl(217, 88.2%, 90%);*/
    background-color: hsl(219, 100%, 94%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.timeline-with-icons .timeline-icon2 {
    position: absolute;
    left: -40px;
    background-color: hsl(215, 93%, 89%);
    border-radius: 50%;
    /*background: white;*/
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /*border: 2px solid pink;*/

}

.modal-dialog {
    position: fixed;
    bottom: 0;
    left: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
}

/*去掉高德地图logo*/
.amap-logo {
    display: none !important;
}

.amap-copyright {
    opacity: 0;
}

/*首页地图*/
#map {
    width: 100%;
    height: 200px;
}

/*模态框地图*/
#modalMap {
    width: 100%;
    height: 80vh;
}

/*模态框*/
#mapModal {
    width: 100vw;
    height: 90vh;
}

/*地图模态框头部*/
.modal-dialog {
    margin: 0;
}

.map-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.modal-body {
    padding: 0;
}


/*进入首页 loading spinner*/
#overlay {
    position: fixed;
    /*display: none;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #2980b9;
    z-index: 10000;
}

#overlay .visible {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: bold;
    overflow: hidden;
    height: 100px;
    /*padding: 0 40px;*/

    text-align: center;
    margin-top: 100px;
    color: white;
    /*font-weight: bold;*/
    font-size: 20px;
}

#overlay .list-word {
    margin-top: 0;
    /*padding-left: 110px;*/
    /*text-align: left;*/
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
    animation-name: change;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.list-word p {
    text-align: center;
    line-height: 40px;
    padding: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 50px !important;
}

@keyframes change {
    0%, 12%, 100% {
        transform: translateY(0);
    }
    17%, 29% {
        transform: translateY(-30%);
    }
    34%, 46% {
        transform: translateY(-60%);
    }
    51%, 80% {
        transform: translateY(-90%);
    }
    85%, 100% {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes change {
    0%, 12%, 100% {
        transform: translateY(0);
    }
    17%, 29% {
        transform: translateY(-30%);
    }
    34%, 46% {
        transform: translateY(-60%);
    }
    51%, 80% {
        transform: translateY(-90%);
    }
    85%, 100% {
        transform: translateY(-100%);
    }

}


/*
#scroll-container {
    margin-top: 100px;
    display: block;
    border: none;
    height: 16px;
    overflow: hidden;
}

#scroll-text {
    height: 100%;
    text-align: center;
    color: white;
    !* animation properties *!
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
}

!* for Firefox *!
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(-100%);
    }
}

!* for Chrome *!
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
*/


.spinner {
    margin: 300px auto;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner > .react {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
