<nz-page-header nzBackIcon>
    <nz-page-header-title>采集设备认证</nz-page-header-title>
    <nz-page-header-content>
        <form nz-form class="ant-advanced-search-form" [hidden]="false">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="searchName">岗位名称</nz-form-label>
                        <nz-form-control>
                            <input
                                    nz-input
                                    placeholder="岗位名称"
                                    id="searchName"
                            />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="searchBatchNum">岗位名称</nz-form-label>
                        <nz-form-control>
                            <input
                                    nz-input
                                    placeholder="岗位名称"
                                    id="searchBatchNum"
                            />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="searchQualityStatus">所属单位</nz-form-label>
                        <nz-form-control>
                            <input
                                    nz-input
                                    placeholder="所属单位"
                                    id="postision"
                            />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6" class="search-area">
                    <button nz-button [nzType]="'primary'"><i nz-icon nzType="search"></i>搜索</button>
                    <button nz-button><i nz-icon nzType="clear"></i>清空</button>
                    <button nz-button nzType="primary"><i nz-icon nzType="plus-square"></i>新增</button>
                </div>
            </div>
            <!--  <div nz-row>
                <div nz-col [nzSpan]="24" class="search-area">
                  <button nz-button [nzType]="'primary'"><i nz-icon nzType="search"></i>搜索</button>
                  <button nz-button (click)="resetForm()"><i nz-icon nzType="clear"></i>清空</button>
                </div>
              </div>-->
        </form>
    </nz-page-header-content>
</nz-page-header>
<nz-table
    #rowSelectionTable
    nzShowSizeChanger
    nzBordered
    nzSize="middle"
    [nzData]="operatorList"
    [nzScroll]="{ x: '80vw',y: '60vh' }"
>
    <thead>
    <tr>
        <th nzLeft>人员编号</th>
        <th>人员姓名</th>
        <th>岗位名称</th>
        <th>认证方式</th>
        <th>所属单位</th>
        <th>认证时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
        <td nzLeft>{{data.code}}</td>
        <td>{{data.name}}</td>
        <td>{{data.jobTitle}}</td>
        <td>{{data.AuthenticationMode}}</td>
        <td>{{data.organization}}</td>
        <td>{{data.certifiedAt}}</td>

    </tr>
    </tbody>
</nz-table>

